body {
    background: white; 
    color: #323232;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Helvetica neue, roboto;
}

@media only screen and (max-width: 600px) {
    .choices{
        display: flex;
        flex-direction: column;
    }
 
    .choice{
        width: 350px;
        margin-bottom: 5px;
    }
 }

#res {
    font-size: 20px;
}
  
#results {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.choice {
    width: 150px;
    font-size: 24px;
    padding: 10px;
    background-color: #3ea7c7;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}